.App {
  text-align: center;
  background-color: (var(--page-background-color));
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/src/CoRoVTrappersLogoPreferredDark.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  margin: 2em;
  padding-top: 300px;
}

.App-header {
  background-color: var(--page-background-color);
  color: white;
}