.Header {
  background-color: #332C22;
  color: white;
}

.Header .CoRoVTrappersLogoPreferredDark {
  background-color: #332C22;
}

.Header .Name {
  font-family: var(--heading1);
  color: #F9B56F;
}

.Header .CoRoVTagLine {
  font-family: var(--heading5);
  color: #DBE9D1;
}

@media max-width: 900px {
  .Header .CoRoVTagLine {
    font-size: 30px;
  }
}