.Header {
  color: white;
}

.Header .Name {
  font-family: var(--heading1);
  font-size: 3rem;
  color: #F9B56F;
}

.Header .CoRoVTagLine {
  font-family: var(--heading5);
  font-size: 2rem;
  color: #DBE9D1;
}

@media max-width: 900px {
    .Header .Name {
       font-size: calc(15px + 0.390625vw) !important;
    }

    .Header .CoRoVTagLine {
        font-size: calc(15px + 0.390625vw) !important;
  }
}