.ImageCarousel .container {
    width: 80%;
}

.ImageCarousel .slide {
    display: block;
    margin: 30px 0 50px 0;
    padding: 10px;
    border: 3px solid var(--tertiary-color);
    border-radius: 10px;
}

.ImageCarousel img {
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
}